body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 24vh;
    background: brown;
   
}
.title{
    width: fit-content;
    background: transparent;
    font-size: 11px;
    color: #fff;
    margin-left: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.title a{
    color: #fff;
    text-decoration: none;
}
.title i{
    font-size: xx-large;
    margin-left: 150px;
}
.title h2 span{
    font-size: x-large;
    margin-left: 10px;
}
.navbar nav{
    
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    background: #fff;
    height: 63%;
    width: 100%;
    
}
nav ul{
    margin-left: 50px;
}
nav ul li{
    margin-left: 35px;
    margin-top: 10px;
    display: inline-flex;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: larger;
}
nav h2{
    margin-left: 30px;
    margin-top: -0px;
    color: darkred;
}
nav h1{
    color: #335;
}
nav h1 span{
    margin-left: 40px;
    color: orangered;
    padding-right: 20px;
}
.section{
    margin-top: 50px;
    width: 100%;
    height: 50%;
    background: brown;
    border: 1px solid black;
}
.section h1{
    color: #fff;
    margin-left: 350px;
}
.section h2{
    color: #fff;
    margin-left: 350px;
}
.section .button{
    margin-left: 400px;
}
.button button{
    width: 200px;
    height: 40px;
    font-size: larger;
    background-color: #fff;
    border: none;
}
.button button:hover{
    width: 200px;
    height: 40px;
    font-size: larger;
    background-color:#fff;
    border: none;
}
.aside{
    width: 100%;
    margin-top: 20px;
    width: 100%;
    height: 1400px;
    background: transparent;
}
.aside h3{
    margin-left: 500px;
    color: #334;
}
.aside button{
    margin-top: 20px;
    margin-left: 550px;
    width: 200px;
    height: 40px;
    font-size: larger;
    background-color: #fff;
    border: none;
    border: 1px solid black;
}
.aside button:hover{
    width: 200px;
    height: 40px;
    font-size: larger;
    background-color: #fff;
}
.aside .images{
margin-left: 50px;
margin-top: 20px;
display: flex;
flex-direction: row;
gap: 20px;
}
.img{
border: 1px solid gray;
width: fit-content;
padding-top: 20px;
padding-left: 40px;
border-radius: 20px;
padding-bottom: 20px;
}
.images img{
    width: 80%;
}
.aside .images .img p{
color: #335;
margin-left: 50px;
}
.aside .images .img .price{
color: #fff;
background: brown;
width: fit-content;
padding: 10px;
margin-left: 60px;
padding-left: 30px;
padding-right: 30px;
}

.aside h1{
    color: #333;
    font-size: 1.3em;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 30px;
}
.categories{
    width: 100%;
    background: transparent;
    height: 350px;
    border-bottom: 3px solid transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.categories .category{
padding: 10px;
height: 70%;
margin-left: 50px;
display: flex;
border: 1px solid #333;
flex-direction: column;
border-radius: 20px;
}
.categories .category p{
    color: #334;
    margin-left: 70px;
    text-decoration: underline;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.categories .category .img1{
    width: 220px;
    height: 300px;
}
.categories .category .img2{
    width: 220px;
    height: 300px;
}
.categories .category .img3{
    width: 220px;
    height: 300px;
}
.categories .category .img4{
    width: 220px;
    height: 300px;
}
.container .last{
    /* margin-top: 40px; */
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position:center;
    background: transparent;
}
.last label{
    color: #335;
}
.last img{
    width: 200px;
    height: 200px;
}
.tdsc{
    color: yellow;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background:brown;
}
footer h1{
    color: #333;
}

footer ul li{
    color: white;
    font-size: larger;
    display: flex;
    margin-top:40px;
    margin-left: -20px;
}
.extra{
    color: rgb(219, 90, 90);
    font-size: larger;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: -20px;
}
/* .info{
    margin-left: -20px;
} */
.locate{
    margin-left: -20px;
}
.createdby{
    margin-left: 350px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.quicklinks a{
color: #fff;
font-weight: bolder;
text-decoration: none;
}
.extralinks a{
    color: #fff;
    font-weight: bold;
    font-size:large;
    text-decoration: none
    }  

    #mySearch {
        width: 100px;
        font-size: 12px;
        padding: 11px;
        height: 17px;
        border: 1px solid brown;
        margin-left: 20px;
        margin-top: 20px;

      }
    ::placeholder{
        color: brown;
      }
      #user{
        margin-left: 70px;
        border: 1px solid brown;
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: xx-large;
        
      }
     /* Style the navigation menu */
  #myMenu {
    visibility: hidden;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    text-decoration: underline;
    color: black;
    font-weight: 10;
    font-size:small;
    margin-left: 20px
  }
/* my cart styles*/

.product {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product img{
    width: 250px;
    height: 300px;
   
}

.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 .product button:hover {
    background-color: #45a049;
}
.cart{
    display: flex;
    flex-direction: row;
}
#cart {
 display: none;
    margin-top: 30px;
    color: #335;
    margin-left: 600px;
    width: 180px;
    border: 1px solid #ddd;
    background: transparent;
}
#cart i{
    margin-left: 20px;
    width: fit-content;
    border: none;
    font-size: 2em;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 5px;
}

#cart-total {
    font-weight: bold;
}
.product .add{
    width: 200px;
    font-size: larger;
    margin-left: 40px;
    height: 30px;
    border: none;
    background: brown;
    border-radius: 10px;
    color: #fff;

}
#mycart{
    font-size: xx-large;
    margin-left: 260px;
}
nav ul li a:focus{
   border-bottom: 2px solid brown;
}
 /* women products */
 .women-product{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
 }
 .home-link{
    text-decoration: none;
 }
 .category-links{
    text-decoration: none;
    color: #333;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: bolder;
 }
